@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans", sans-serif;

  --color-kaiju-green: #465A3D;
  --color-kaiju-green-light: #78966A;
  --color-kaiju-orange: #E85D24;
  --color-kaiju-cream-dark: #F0E3BD;

  --color-kaiju-cream: #E6D5A8;
  --color-kaiju-cream-darker: #D4BF8A;
}